{% extends 'base.html' %}
{% load static %}
{% block title %}Création d'une Déclaration en détail{% endblock title %}
{% block container %}


    {% load crispy_forms_tags %}

    <div hidden id="settings"
              decdet_api_create_url="{{decdet_api_create_url}}"
              decdet_list_url = "{{decdet_list_url}}"></div>

        <h2>Création d'une nouvelle Déclaration en détail</h2>
        <br>

      <div class="row">
        <div class="col-7">
          {% include 'decdet_form.html' with submit_value='Créer' %}
          <br>
          <div style="display:none" id="alert-danger" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erreur!</strong> <label>Peut-être qu'une déclaration existe déja sous cette réference</label>
          </div>
        </div>
        <div class="col-5" style="margin : 0;">
          Après la création d'une déclaration :
          <br>
          <br>
          <form >
            <input type="radio" name='radio' class="next-action-radio" value="1" checked> Revenir à la liste des déclarations<br>
            <input type="radio" name='radio' class="next-action-radio" value="2"> Aller à la déclaration ajoutée <br>
            <input type="radio" name='radio' class="next-action-radio" value="3"> Ajouter une autre déclaration<br>
          </form>
        </div>
      </div>


        <br>
        <br>
        <br>
        <br>


{% endblock container %}


{% block script %}
<script src="{% static 'scripts/decdet/decdet_create.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(event){
    initCreateDecdet();
  });
</script>
{% endblock script %}
