<label style="float:right">
  <a id="decdet-filter-toggle-btn" href="#" ><i class="fas fa-filter"></i></a>
  Filtres
</label>
<br>
<br>
<form id="decdet-list-filter-form" style="display:none" class="form-filter-decdet">

    <div class='hr'>
        <span class='hr-title'>Déclaration</span>
    </div>

    <div class="row">
      <div class="col-1">
        <label>CODE</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" maxlength="4" name="code" value="">
      </div>
      <div class="col-1">
          <label>N°</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="num_decdet" value="">
      </div>
      <div class="col-1">
        <label>Statut</label>
      </div>
      <div class="col-3">
        <select class="form-control" name="appurement">
          <option value="">Sélectionnez un état</option>
          <option value="appure" class="appurement-appure">Appuré</option>
          <option value="pending" class="appurement-pending">En cours</option>
          <option value="retard" class="appurement-retard">En retard</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1">
          <label>Importateur</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="importateur" value="">
      </div>
      <div class="col-1">
          <label>Déclarant</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="declarant" value="">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2 offset-3">
        <label>Taux de suspension</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="number"  name="taux_suspension" value="">
      </div>
    </div>

    <div class='hr'>
        <span class='hr-title'>Caution</span>
    </div>

    <div class="row">
      <div class="col-1">
        <label>N° de caution</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="number" name="numero_caution" value="">
      </div>
    </div>

    <div class='hr'>
        <span class='hr-title'>Contrat</span>
    </div>

    <div class="row">
      <div class="col-1">
        <label>N° du contrat</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="number" name="num_contrat" value="">
      </div>
      <div class="col-1">
          <label>Objet du Contrat</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="objet_contrat" value="">
      </div>
      <div class="col-1">
          <label>Lieu d'exécution</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="lieu_execution" value="">
      </div>
    </div>

    <div class='hr'>
        <span class='hr-title'>Autorisation d'admission</span>
    </div>

    <div class="row">
      <div class="col-2">
          <label>N° Autorisation</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="num_autors_at" value="">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
        <label>Date de l'autorisation </label>
      </div>
      <div class="col-3">
        <select class="form-control" name="month" style="width:auto">
          <option class="form-control" value="">Sélectionnez un mois</option>
          <option class="form-control" value="1">Janvier</option>
          <option class="form-control" value="2">Février</option>
          <option class="form-control" value="3">Mars</option>
          <option class="form-control" value="4">Avril</option>
          <option class="form-control" value="5">Mai</option>
          <option class="form-control" value="6">Juin</option>
          <option class="form-control" value="7">Juillet</option>
          <option class="form-control" value="8">Août</option>
          <option class="form-control" value="9">Septembre</option>
          <option class="form-control" value="10">Octobre</option>
          <option class="form-control" value="11">Novembre</option>
          <option class="form-control" value="12">Décembre</option>
        </select>
      </div>
      <div class="col-1">

        <label>Année</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="number" min="1900" name="year">
      </div>

    </div>

    <br>
    <input id="decdet-filter-submit-btn" type="submit" class="btn btn-primary" value="Filtrer">
    <input  type="reset" class="btn btn-secondary" value="Annuler">
</form>
<br>
<br>
<!-- Must Be Used In DecDet_List including the appropriate script file -->
