{% extends 'base.html' %}

{% block title %}Suppression de la {{object}}{% endblock title %}
{% block container %}


    <input hidden id='settings'
      declaration = {{object}}>

      <h2>Suppression de la {{object}}</h2>
      <br>

    <div class="row">
      <div class="col-7 offset-2">
        <form method="post">
          {% csrf_token %}
          Voulez vous vraiment supprimer la {{object}}? <br>
          <span style="color:red">
            <b>N.B:</b> Tous les articles, appurements, prorogations et transferts associés
            seront supprimés aussi!
          </span>
          <br>
          <br>
          <button id="decdet-delete-btn" style="float:right" type="submit" name="button" class="btn btn-outline-danger">Supprimer</button>
        </form>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>



{% endblock container %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#decdet-delete-btn').on('click', function () {
          var declaration = $('#settings').attr('declaration');
          alert('La '+declaration+' a été supprimée avec succès\n'+
              'Ainsi que les articles, appurements, prorogations et transferts associés,');
      });
    });
  </script>
{% endblock script %}
