{% extends 'base.html' %}
{% load static %}
{% block title %}Liste des Déclarations en détail{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/decdet/filter_list.css' %}" >
<link rel="stylesheet" href="{% static 'styles/article/appurement.css' %}" >
  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

  </style>
{% endblock css %}


{% block container %}

    <br>
    <input hidden id="settings"
              decdet_api_list_url="{{decdet_api_list_url}}"
              PAGE_SIZE = "{{PAGE_SIZE}}"
                >
    <h2>Liste des Déclarations en détail</h2>
    {% include 'decdet_filter.html' %}
    <span id="decdet-list-html-info"></span>
    <div class="table-wrapper-scroll-y">
      <table id="" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">N°</th>
            <th scope="col">Importateur</th>
            <th scope="col">Durée accordée (mois)</th>
            <th scope="col">Durée contrat (mois)</th>
            <th scope="col">Statut</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="decDet-List-Html-Container">
          <!-- Will be filled with Ajax Call in fetchData() -->
        </tbody>
      </table>
      <!-- <button id="table-to-cs" data-export="export">Excel</button> -->
    </div>
    <br>
    <button id="navigation-fetch-data-btn-previous" type="button" class="btn btn-outline-dark"> Précédent </button>
    <button id="navigation-fetch-data-btn-next" type="button" class="btn btn-outline-dark"> Suivant </button>
    <br>
    <br>
    <button id="article-csv-btn" data-toggle="tooltip" data-placement="top"
          title="Télecharger en CSV" style="float:right;" type="button"
          onclick="location.href='{% static 'CSV/Declarations_en_Detail.csv' %}'"
           class="btn btn-outline-info">
          <i class="fas fa-file-csv fa-4x"></i> </button>

    <br>
    <a href="{{decdet_create_url}}"> <i class="fas fa-plus" style="color:green"></i> Créer une déclaration en détail</a>

{% endblock container %}


{% block script %}
  <script src="{% static 'scripts/decdet/decdet_list.js' %}"></script>
  <script src="{% static 'scripts/decdet/decdet_filter.js' %}" charset="utf-8"></script>


  <!-- <script src="{% static 'scripts/miscs/tabletoCSV.js' %}"></script> -->
  <script type="text/javascript">
    $(document).ready(function(event){
      init();
      decdetFilterInit();
      // $("#export").click(function(){
    	//   $("table").tableToCSV();
    	// });
    });
  </script>
{% endblock script %}
