{% extends 'base.html' %}

{% block title %}Modification de la {{object}}{% endblock title %}
{% block container %}

{% load crispy_forms_tags %}

    <input hidden id='settings'
      object_date_caution = {{object.date_caution|date:"m/d/Y"}}
      object_date_decdet = {{object.date_decdet|date:"m/d/Y"}}>

      <h2>Modification de la {{object}}</h2>
      <br>

    <div class="row">
      <div class="col-7 offset-2">
        <form method="post">
          {% csrf_token %}
          {# {% include 'decdet_form.html' with submit_value='Modifier'  object=object %} #}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>



{% endblock container %}

    <script type="text/javascript">
    $(document).ready(function(event){
        var date_str = $('#settings').attr('object_date_caution');
        var date = new Date(date_str).toISOString().substr(0, 10);
        $('#id_date_caution').val(date);
        var date_str = $('#settings').attr('object_date_decdet');
        var date = new Date(date_str).toISOString().substr(0, 10);
        $('#id_date_decdet').val(date);
    });
    </script>
