{% extends 'base.html' %}
{% load static %}

{% block title %}{{object}}{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static 'styles/article/appurement.css' %}" >


{% endblock %}


{% block container %}
    <input hidden id="settings"
                pk = {{object.pk}}
                decdet_api_detail_url="{{decdet_api_detail_url}}"
                decdet_articles_url="{{decdet_articles_url}}"
                create_article_api_url="{{create_article_api_url}}"
                transfert_article_api_url = "{{transfert_article_api_url}}"
                prorogation_create_api_url = "{{prorogation_create_api_url}}"
                appurement_article_api_url = "{{object.getAppurementApiCreateUrl}}"
                />

    <h2>Détail de la {{object}}</h2>
    <div class="row">
      <div class="col-8 offset-1">
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='{{decdet_update_url}}'">Modifier</button>
        {% if object.prorogation_set.all %}
          <button type="button" class="btn btn-outline-primary" onclick="location.href='{{object.getProrogationListUrl}}'" >Liste des Prorogations</button>
        {% endif %}
        {% if object.transfer_set.all%}
          <button type="button" class="btn btn-outline-success" onclick="location.href='{{object.getTransfertsListUrl}}'" >Liste des Transferts</button>
        {% endif %}
        {% if object.appurement_set.all %}
          <button type="button" class="btn btn-outline-info" onclick="location.href='{{object.getAppurementListUrl}}'" >Liste des Apurements</button>
        {% endif %}
        <br>
        <br>
        <p>
          <div class="row">
            <div class="col-5 offset-1">
              Code          : <b>{{object.code}} </b><br>
              N° Déclaration  : <b>{{object.num_decdet}}</b> <br>
              Importateur   : <b>{{object.importateur}}</b> <br>
              Déclarant     : {{object.declarant}} <br>
              Valeur marchandise   : {{object.val_marchandise}} DA<br>
              Taux de suspension : <b>{{object.taux_suspension}}%</b> <br>
              Montant D/T   : {{object.montant_dit}} DA<br>
            </div>
            <div class="col-6">
              N° Contrat   : <b>{{object.num_contrat}}</b> <br>
              Objet du contrat   : {{object.objet_contrat}} <br>
              Lieu d'execution   : {{object.lieu_execution}} <br>
              Duree du contrat   : <b>{{object.duree_contrat}} mois </b><br>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 offset-1">
              N° de Caution : {{object.numero_caution}} <br>
              Date de caution  : {{object.date_caution}} <br>
            </div>
            <div class="col-5">
              Date de création système : {{date_creation}} à {{temps_creation}} <br>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-10 offset-1">
              N° de l' autorisation d'admission temporaire   : {{object.num_autors_at}} <br>
              Date de l' autorisation d'admission temporaire : {{object.date_autors_at}} <br>
              Duree accordée  : <b>{{object.duree_decdet}} mois </b><br>
            </div>
          </div>
        </p>
        <br><br>
      </div>
      <div class="col-2 offset-1">

        <button style="margin-bottom: 0px;" type="button" class="btn btn-danger" onclick="location.href='{{object.getDeleteUrl}}'">Supprimer</button>
      </div>
    </div>

    <h3>Articles associés (<span id="nb-articles-span"></span>) </h3>
    <div class="row">
      <div class="col-10 offset-1">
        <button class="btn btn-warning " id="create-article-btn">Ajouter un article</button>
        <button disabled class="btn btn-primary must-select-article" id="prorogation-decdet-btn">Effectuer une prorogation</button>
        <button disabled class="btn btn-success must-select-article" id="transferer-article-btn">Transferer les articles</button>
        <button disabled class="btn btn-info must-select-article" id="appurement-article-btn">Apurer les articles</button>
        <br>
        <br>
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead class="thead-dark">
            <th scope="col"> <input  type="checkbox" id="article-checkbox-select-all"></th>
            <th scope="col">n° série</th>
            <th scope="col">Position tarifaire</th>
            <th scope="col">Valeur (DA)</th>
            <th scope="col">Qte</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </thead>
          <tbody id="decdet-articles-tbody">
            <!--  Will be filled with Ajax Call fetchArticleList() -->
          </tbody>
      </table>
      </div>
    </div>
    <div style="display:none" id="alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Succes!</strong> <label></label>
    </div>
    <div style="display:none" id="alert-danger" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Erreur!</strong> <label></label>
    </div>
    <button id="article-csv-btn" data-toggle="tooltip" data-placement="top"
          title="Télecharger en CSV" style="float:right;" type="button"
          onclick="location.href='{% static 'CSV/Articles.csv' %}'"
           class="btn btn-outline-info">
          <i class="fas fa-file-csv fa-4x"></i> </button>




    {% include 'article_create_form_modal.html' with decdet=object %}
    {% include 'article_transfert_form_modal.html' with object=object duree_max=duree_restante_transfert %}
    {% include 'article_appurement_form_modal.html' with decdet=object%}
    {% include 'prorogation_form_modal.html' with object=object duree_max=duree_restante_prorogation%}
{% endblock container %}



{% block script %}
  <script src="{% static 'scripts/decdet/decdet_detail.js' %}" charset="utf-8"></script>
  <script src="{% static 'scripts/article/article_transfert_modal.js' %}" charset="utf-8"></script>
  <script src="{% static 'scripts/article/article_appurement_modal.js' %}" charset="utf-8"></script>
  <script src="{% static 'scripts/article/article_prorogation_modal.js' %}" charset="utf-8"></script>
  <!-- <script src="{% static 'scripts/prorogation/prorogation_create_modal.js' %}" charset="utf-8"></script> -->
  <script type="text/javascript">
    $(document).ready(function(event){
      init();
      article_transfert_modal_init();
      article_appurement_modal_init();
      article_prorogation_modal_init();
      // prorogation_create_modal_init();
    });
  </script>
{% endblock script %}
