
<div class="modal fade" id="article-transfert-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transfert d'articles :  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include "transfert_form.html" with transfert_depuis_prorogaiton=transfert_depuis_prorogaiton object=object %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <label>La durée maximale à accorder est de </label>
          <strong>{{duree_max}}</strong> <br>
          <label> pour ne pas dépasser la date accordée </label>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" id="article-transfert-form-btn" class="btn btn-primary"   >Transferer</button>
      </div>

    </div>
  </div>
</div>
