<form id="article-create-form" method="post">
  {% csrf_token %}


    <label for="id_num_serie" class="col-form-label  requiredField">
    Num serie<span class="asteriskField">*</span> </label>
    <input type="text" min="0" name="num_serie" value="0" class="textinput form-control" required id="id_num_serie" />

    <label for="id_position_tarifaire" class="col-form-label  requiredField">
    Position tarifaire<span class="asteriskField">*</span> </label>
    <input type="text" min="0" name="position_tarifaire" value="0" class="textinput form-control" required id="id_position_tarifaire" />

    <label for="id_valeur" class="col-form-label  requiredField">
    Valeur<span class="asteriskField">*</span> </label>
    <input type="number" min="0" name="valeur" value="0" class="numberinput form-control" required id="id_valeur" />

    <label for="id_quantite" class="col-form-label  requiredField">
    Quantite<span class="asteriskField">*</span> </label>
    <input type="number" min="0" name="quantite" value="0" class="numberinput form-control" required id="id_quantite" />

    <label for="id_description" class="col-form-label  requiredField">
    Description<span class="asteriskField">*</span> </label>
    <input type="text" name="description" maxlength="255" class="textinput textInput form-control" required id="id_description" />
    <input type="submit" hidden/>
    <br>
    <br>

</form>
