<div class="modal fade" id="article-appurement-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout d'un apurement à la {{decdet}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Type d'Apurement : </label>
        <div style="float:right" class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary active">
            <input type="radio" name="type-apurement" value="decision" checked> Décision
          </label>
          <label class="btn btn-outline-success">
            <input type="radio" name="type-apurement" value="decdet"> Déclaration
          </label>
        </div>
        <hr>
        <div id="apurement-decision">
          {% include "appurement_form_decision.html" with apurement_depuis_prorogaiton=apurement_depuis_prorogaiton object=object %}
        </div>
        <div id="apurement-decdet" style="display:none">
          {% include "appurement_form_decdet.html" with apurement_depuis_prorogaiton=apurement_depuis_prorogaiton object=object %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button id="article-appurement-form-btn"  type="button" class="btn btn-primary">Apurer</button>
      </div>
    </div>
  </div>
</div>
