<div class="modal fade" id="article-create-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout d'un article à la {{decdet}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'article_form.html' with submit_value='Ajouter' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button id="article-create-form-submit-btn"  type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>
