{% extends 'base.html' %}
{% load static %}
{% block title %}Modification de l'{{object}}{% endblock title %}
{% block container %}


    {% load crispy_forms_tags %}

      <h2>Modification de l'{{object}}</h2>
      <br>

      <div class="row">
        <div class="col-7 offset-2">
          <form method="post">
            {% csrf_token %}
            {# {{form|crispy}} #}
            <label hidden for="id_decdet" class="col-form-label  requiredField"> Decdet <span  class="asteriskField">*</span></label>
            <input hidden type="number"  name="decdet" class="textinput textInput form-control" required id="id_decdet" value="{{object.decdet.pk}}"/>

            <label for="id_num_serie" class="col-form-label  requiredField">
            Num serie<span class="asteriskField">*</span> </label>
            <input type="number" name="num_serie" value="{{object.num_serie}}" class="numberinput form-control" required id="id_num_serie" />
            <br>

            <label for="id_position_tarifaire" class="col-form-label  requiredField">
            Position tarifaire<span class="asteriskField">*</span> </label>
            <input type="number" name="position_tarifaire" value="{{object.position_tarifaire}}" class="numberinput form-control" required id="id_position_tarifaire" />
            <br>

            <label for="id_valeur" class="col-form-label  requiredField">
            Valeur<span class="asteriskField">*</span> </label>
            <input type="number" name="valeur" value="{{object.valeur}}" class="numberinput form-control" required id="id_valeur" />
            <br>

            <label for="id_quantite" class="col-form-label  requiredField">
            Quantite<span class="asteriskField">*</span> </label>
            <input type="number" name="quantite" value="{{object.quantite}}" class="numberinput form-control" required id="id_quantite" />
            <br>

            <label for="id_description" class="col-form-label  requiredField">
            Description<span class="asteriskField">*</span> </label>
            <input type="text" name="description" value="{{object.description}}" maxlength="255" class="textinput textInput form-control" required id="id_description" />
            <br>
            <br>
            <br>

            <input  type="submit" value="Modifier" class="btn btn-primary">
          </form>
        </div>

      </div>

        <br>
        <br>
        <br>
        <br>


{% endblock container %}


{% block script %}
{% endblock script %}
