{% extends 'base.html' %}
{% load static %}

{% block container %}


    {% load crispy_forms_tags %}

    <div hidden id="settings" article_api_create_url="{{article_api_create_url}}"></div>


      <div class="row">
        <div class="col-7">
          {% include 'article_form.html' with submit_value='Créer' %}
        </div>

      </div>

        <br>
        <br>
        <br>
        <br>


{% endblock container %}


{% block script %}
{% endblock script %}
