{% extends 'base.html' %}
{% load static %}
{% block title %}{{object}}{% endblock title %}


{% block container %}
    <h2>Détail du Transfert</h2> <br><br>
    <div class="row">
      <div class="col-8 offset-2">
        N° de l'Admission temporaire : <b>{{object.decdet.num_decdet}}</b> : <a href="{{object.decdet.getDetailUrl}}"data-toggle="tooltip"
          data-placement="top" title="Détail de la déclaration"><i class="fas fa-angle-double-right fa-1x"></i></a><br>
          {% if object.prorogation %}
            Transfert effectué à partir de la prorogation N° : <b>{{object.prorogation.num_decdet}}</b> :  <a href="{{object.prorogation.getDetailUrl}}"data-toggle="tooltip"
            data-placement="top" title="Détail de la déclaration"><i class="fas fa-angle-double-right fa-1x"></i></a><br>
          {% endif %}
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-5 offset-1">
        N° Contrat   : <b>{{object.num_contrat}}</b> <br>
        Objet du contrat   : {{object.objet_contrat}} <br>
        Lieu d'execution   : {{object.lieu_execution}} <br>
        Duree du contrat   : <b>{{object.duree_contrat}} mois </b><br>
      </div>
      <div class="col-5">
        N° de l' autorisation du transfert   : {{object.num_autors_tr}} <br>
        Date de l' autorisation du transfert : {{object.date_autors_tr}} <br>
        Objet de l' autorisation du transfert : {{object.objet_autors_tr}} <br>
        Duree accordée  : <b>{{object.duree_transfert}} mois </b><br>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-5 offset-6">
        Date de création système : {{date_creation}} à {{temps_creation}} <br>
      </div>
    </div>

      <h3> Articles associés ({{object.getArticleSet|length}})</h3>
        <br>
    <table id="" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N° Série</th>
          <th scope="col">Position Tarifaire</th>
          <th scope="col">Valeur (DA)</th>
          <th scope="col">Qte</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody id="transfert-List-Html-Container">
        {% for article in object.getArticleSet %}
        <tr>
          <td>{{article.num_serie}}</td>
          <td>{{article.position_tarifaire}}</td>
          <td>{{article.valeur}}</td>
          <td>{{article.quantite}}</td>
          <td>{{article.description}}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <button id="article-csv-btn" data-toggle="tooltip" data-placement="top"
          title="Télecharger en CSV" style="float:right;" type="button"
          onclick="location.href='{% static 'CSV/Articles.csv' %}'"
           class="btn btn-outline-info">
          <i class="fas fa-file-csv fa-4x"></i> </button>


    {{article_set}}

{% endblock container %}
