{% extends 'base.html' %}
{% load static %}
{% block title %}Liste des transferts concernant la {{decdet}}{% endblock title %}

{% block css %}

{% endblock css %}

{% block container %}

    <h2>Liste des transferts de l' {{decdet}}</h2>
    <br> <br>
    Déclaration en détail racine (AT) N°: <b>{{decdet.num_decdet}}</b>  <a href="{{decdet.getDetailUrl}}"><i class="fas fa-angle-double-right"></i></a>
    <br>
    <br>
    <br>
    <table id="" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N° Déclaration mère</th>
          <th scope="col">N° Contrat</th>
          <th scope="col">Durée du contrat</th>
          <th scope="col">Durée accordée</th>
          <th scope="col">Nombre d'articles</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="transfert-List-Html-Container">
        {% for transfert in  object_list %}
          <tr>
            {% if transfert.prorogation %}
              <td>{{transfert.prorogation.num_decdet}}</td>
            {% else %}
              <td> <b>AT</b> </td>
            {% endif %}
            <td>{{transfert.num_contrat}}</td>
            <td>{{transfert.duree_contrat}}</td>
            <td>{{transfert.duree_transfert}}</td>
            <td>{{transfert.articles.all|length}}</td>
            <td>
              <a href="{{transfert.getDetailUrl}}" data-toggle="tooltip"
                data-placement="top" title="Détail du transfert">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <br>
  <!-- <button id="navigation-fetch-data-btn-previous" type="button" class="btn btn-outline-dark"> Précédent </button> -->
  <!-- <button id="navigation-fetch-data-btn-next" type="button" class="btn btn-outline-dark"> Suivant </button> -->

{% endblock container %}

{% block script %}
  <script src="{% static 'scripts/transfert/transfert_list.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(event){
      init();
    });
  </script>
{% endblock script %}
