{% extends 'base.html' %}
{% load static %}
{% block title %}Liste des transferts{% endblock title %}

{% block css %}

  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

  </style>
{% endblock css %}

{% block container %}
  <div hidden id="settings" transfert_api_list_url={{transfert_api_list_url}}></div>

  <h2>Liste des transferts</h2>
  <br>

  <span id="transfert-list-html-info"></span>
  <div class="table-wrapper-scroll-y">
    <table id="" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ancienne Déclaration</th>
          <th scope="col">Nouvelle Déclaration</th>
          <th scope="col">Date de transfert</th>
          <th scope="col">Nombre d'articles</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="transfert-List-Html-Container">
        <!-- Will be filled with Ajax Call in fetchData() -->
      </tbody>
    </table>
  </div>
  <br>
  <button id="navigation-fetch-data-btn-previous" type="button" class="btn btn-outline-dark"> Précédent </button>
  <button id="navigation-fetch-data-btn-next" type="button" class="btn btn-outline-dark"> Suivant </button>

{% endblock container %}

{% block script %}
  <script src="{% static 'scripts/transfert/transfert_list.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(event){
      init();
    });
  </script>
{% endblock script %}
