

<form id="transfert-create-form" method="post">
  {% csrf_token %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% if transfert_depuis_prorogaiton %}
        <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
        <input readonly type="text" name="decdet" value="{{object.decdet.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />

        <label for="id_decdet" class="col-form-label  requiredField"> N° Prorogation mère <span class="asteriskField">*</span></label>
        <input readonly type="text" name="prorogation" value="{{object.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />

        {% else %}
          <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
          <input readonly type="text" name="decdet" value="{{object.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-0">
        <div class='hr'>
            <span class='hr-title'>Contrat</span>
        </div>

        <label for="id_num_contrat" class="col-form-label  requiredField"> N° du contrat <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_contrat" value="" maxlength="255" class="textinput textInput form-control" required id="id_num_contrat" />

        <label for="id_objet_contrat" class="col-form-label  requiredField"> Objet du contrat <span class="asteriskField">*</span>
        </label>
        <input type="text" name="objet_contrat" value="" maxlength="255" class="textinput textInput form-control" required id="id_objet_contrat" />

        <label for="id_lieu_execution" class="col-form-label  requiredField"> Lieu d'exécution <span class="asteriskField">*</span>
        </label>
        <input type="text" name="lieu_execution" value="" maxlength="255" class="textinput textInput form-control" required id="id_lieu_execution" />

        <label for="id_duree_contrat" class="col-form-label  requiredField"> Durée du contrat <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="duree_contrat" value=""  class="numberinput form-control" required id="id_duree_contrat" />
          <div class="input-group-prepend">
            <div class="input-group-text">mois</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class='hr'>
            <span class='hr-title'>Autorisation de transfert</span>
        </div>

        <label for="id_num_autors_tr" class="col-form-label  requiredField"> N° de l'autorisation de transfert <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_autors_tr" value="" maxlength="255" class="textinput textInput form-control" required id="id_num_autors_tr" />

        <label for="id_date_autors_tr" class="col-form-label  requiredField"> Date de l'autorisation de transfert <span class="asteriskField">*</span>
        </label>
        <input type="date" name="date_autors_tr" value=""  class="dateinput form-control" required id="id_date_autors_tr" />

        <label for="id_objet_autors_tr" class="col-form-label  requiredField"> Objet de l'autorisation de transfert <span class="asteriskField">*</span>
        </label>
        <input type="text" name="objet_autors_tr" value=""  class="dateinput form-control" required id="id_objet_autors_tr" />

        <label for="id_duree_transfert" class="col-form-label  requiredField"> Durée accordée <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="duree_transfert" value=""  class="numberinput form-control" required id="id_duree_transfert" />
          <div class="input-group-prepend">
            <div class="input-group-text">mois</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    <input hidden type="submit">
</form>
