.home-menu{
  /* background-color:#374760; */
  background-color:#212529cc;
  height: 100%;
  border-radius: 10px;
}

.home-menu a{
  text-decoration: none;
  color: #c4c8d1;
}


.home-menu a:hover{
  text-decoration: none;
  color: white;
}

.footer-about-title{
  font-size: 20px;
}

.container{
  min-height: calc(100vh - 70px);
}

.home-navbar{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-block{
  background-color: #fff5;
  border-radius: 10px;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: left;
  height: 0px;
  line-height: 0px;
}

.hr-title {
  background-color: #fff;
  color: #555;
  margin-left: 20px;
}

.stuck{
  position: fixed;
  /* top : 10px; */
  right: 10px;
  bottom: 10px;
  /* width:80px; */
  /* overflow-y: scroll; */
}

.back-to-top{
  background-color: #1118;
  border-radius: 4px;
  color: #f4f4f4;
}

.back-to-top:hover{
  background-color: #1118;
  border-radius: 4px;
  color: #f4f4f4;
}

.back-to-top-arrow{
  margin-left: 4px;
  margin-right: 4px;
}

.location-navigation-btn{
  margin-left: 4px;
  margin-right: 4px;
  color: #f4f4f4;
}


.location-navigation{
  color: #f4f4f4;
}


.location-navigation:hover{
  color: #f4f4f4;
}
