.footer-about-title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-contact-us{
      background-color:rgba(30, 30, 30, 0.5);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      color : white;
      width : 100%;
      margin-bottom: 0px;
    }

.center-div{
      width: 50%;
      margin: 0 auto;
    }

footer{
  position:static;
  width: 100%;
  bottom: 0px;
}

.link-about-us{
  text-decoration: none;
  color: #eeeeee;
}

.link-about-us:hover{
  text-decoration: none;
  color: #374760;
}

.social-links a{
  text-decoration: none;
  color: #ffff;
}

.social-links a:hover{
  text-decoration: none;
  color: #374760;
}
