
<form id="create-appurement-form-decision" method="post" class="apurement-form">
  {% csrf_token %}

  {% if apurement_depuis_prorogaiton %}
    <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
    <input readonly type="text" name="decdet" value="{{object.decdet.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />
  {% else %}
    <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
    <input readonly type="text" name="decdet" value="{{object.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />
  {% endif %}

  <div class='hr'>
      <span class='hr-title'>Décision</span>
  </div>

  <div class="row">
    <div class="col-6 offset-3">

        <label for="id_num_decision" class="col-form-label  requiredField"> N° de la décision d'apurement <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_decision" value="{{object.num_decision}}" maxlength="255" class="textinput textInput form-control" required id="id_num_decision" />

        <label for="id_date_appurement" class="col-form-label  requiredField"> Date de l'apurement <span class="asteriskField">*</span>
        </label>
        <input type="date" name="date_appurement" value="{{object.date_appurement|date:'Y-m-d'}}"  class="dateinput form-control" required id="id_date_appurement" />

        <label for="id_objet_appurement" class="col-form-label  requiredField"> Objet de l'apurement <span class="asteriskField">*</span>
        </label>
        <textarea cols="50" rows="2" type="text" name="objet_appurement" value="{{object.objet_appurement}}"  class="dateinput form-control" required id="id_objet_appurement"></textarea>

        <label for="id_num_appurement" class="col-form-label  requiredField"> N° de l'apurement <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_appurement" value="{{object.num_appurement}}" maxlength="255" class="textinput textInput form-control" required id="id_num_appurement" />


    </div>
  </div>
    <br>
    <input type="submit" hidden>
</form>
