{% extends 'base.html' %}
{% load static %}
{% block title %}Liste des apurements de la {{decdet}}{% endblock title %}

{% block css %}

  <style >

  </style>
{% endblock css %}

{% block container %}
  <div hidden id="settings"></div>
  <h2>Liste des apurements de la {{decdet}}</h2>
  <br>

  Déclaration en détail racine (AT) N°: <b>{{decdet.num_decdet}}</b>  <a href="{{decdet.getDetailUrl}}"><i class="fas fa-angle-double-right"></i></a>
  <br><br>

  <span id="appurement-list-html-info"></span>
    <table id="" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N° Admission temporaire</th>
          <th scope="col">N° Apurement</th>
          <th scope="col">Type de l'apurement</th>
          <th scope="col">Date de l'apurement</th>
          <th scope="col">Objet de l'apurement</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="appurement-List-Html-Container">
        {% for appurement in object_list %}
          <tr>
            <td>{{appurement.decdet.num_decdet}}</td>
            <td>{{appurement.num_appurement}}</td>
            {% if appurement.num_decision %}
              <td> <b>Décision</b> </td>
            {% else %}
              <td> <b>Déclaration</b> </td>
            {% endif %}
            <td>{{appurement.date_appurement}}</td>
            <td>{{appurement.objet_appurement}}</td>
            <td>
              <a href="{{appurement.getDetailUrl}}" data-toggle="tooltip"
                data-placement="top" title="Détail de l'appurement">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <br>

{% endblock container %}
