{% extends 'base.html' %}
{% load static %}
{% block title %}Détail de l'{{object}}{% endblock title %}

{% block css %}

  <style >

  </style>
{% endblock css %}

{% block container %}
  <div hidden id="settings"></div>
  <h2>{{object}}</h2>

  <div class="row">
    <div class="col-5 offset-1">
      N° de la déclaration en détail Racine (AT) :     {{object.decdet.num_decdet}} <br>
      Date de l'appurement           :     {{object.date_appurement}} <br>
      Objet de l'appurement          :     {{object.objet_appurement}} <br>
      Type de l'appurement           :
        {% if object.num_decision %}
          Décision N°<b>{{object.num_decision}}</b>
        {% else %}
          <b>Déclaration</b>
        {% endif %}
      <br>
      Date Système                   :     {{object.timestamp}} <br>
      <br>
    </div>
    {% if object.num_decdet %}
        <div class="col-5">
          Code          : <b>{{object.code}} </b><br>
          N° Déclaration  : <b>{{object.num_decdet}}</b> <br>
          Importateur   : <b>{{object.importateur}}</b> <br>
          Déclarant     : {{object.declarant}} <br>
          Valeur marchandise   : {{object.val_marchandise}} DA<br>
          Taux de suspension : <b>{{object.taux_suspension}}%</b> <br>
          Montant D/T   : {{object.montant_dit}} DA<br>
        </div>
    {% endif %}
  </div>



  <hr>
  <br>
  <h3>Articles Apurés ({{object.articles.all|length}})</h3>
  <br>
  <table id="" class="table table-striped table-bordered table-sm" cellspacing="1" width="100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N° de série</th>
        <th scope="col">Position tarifaire</th>
        <th scope="col">Valeur (DA)</th>
        <th scope="col">Qte</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="article-List-Html-Container">
      {% for article in object.articles.all %}
        <tr>
          <td>{{article.num_serie}}</td>
          <td>{{article.position_tarifaire}}</td>
          <td>{{article.valeur}}</td>
          <td>{{article.quantite}}</td>
          <td>{{article.description}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <button id="article-csv-btn" data-toggle="tooltip" data-placement="top"
        title="Télecharger en CSV" style="float:right;" type="button"
        onclick="location.href='{% static 'CSV/Articles.csv' %}'"
         class="btn btn-outline-info">
        <i class="fas fa-file-csv fa-4x"></i> </button>
  <br>

{% endblock container %}
