
<form id="create-appurement-form-decdet" method="post" class="apurement-form">
  {% csrf_token %}

    {% if apurement_depuis_prorogaiton %}
    <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
    <input readonly type="text" name="decdet" value="{{object.decdet.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />
    {% else %}
      <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
      <input readonly type="text" name="decdet" value="{{object.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />
    {% endif %}


  <div class="row">
    <div class="col-6 offset-3">

      <label for="id_date_appurement" class="col-form-label  requiredField"> Date de l'apurement <span class="asteriskField">*</span>
      </label>
      <input type="date" name="date_appurement" value="{{object.date_appurement|date:'Y-m-d'}}"  class="dateinput form-control" required id="id_date_appurement" />

      <label for="id_objet_appurement" class="col-form-label  requiredField"> Objet de l'apurement <span class="asteriskField">*</span>
      </label>
      <textarea cols="50" rows="2" type="text" name="objet_appurement" value="{{object.objet_appurement}}"  class="dateinput form-control" required id="id_objet_appurement"></textarea>

      <label for="id_num_appurement" class="col-form-label  requiredField"> N° de l'apurement <span class="asteriskField">*</span>
      </label>
      <input type="text" name="num_appurement" value="{{object.num_appurement}}" maxlength="255" class="textinput textInput form-control" required id="id_num_appurement" />

    </div>
  </div>



  <div class='hr'>
      <span class='hr-title'>Déclaration</span>
  </div>

  <div class="row">
    <div class="col-5 offset-1">

        <label for="id_code" class="col-form-label  requiredField"> Code <span class="asteriskField">*</span></label>
        <input type="text" name="code" value="{{object.code}}" maxlength="4" class="textinput textInput form-control" required id="id_code" />

        <label for="id_num_decdet" class="col-form-label  requiredField"> N° de la déclaration <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_decdet" value="{{object.num_decdet}}" maxlength="255" class="textinput textInput form-control" required id="id_num_decdet" />


        <label for="id_importateur" class="col-form-label  requiredField"> Importateur <span class="asteriskField">*</span>
        </label>
        <input type="text" name="importateur" value="{{object.importateur}}" maxlength="255" class="textinput textInput form-control" required id="id_importateur" />


        <label for="id_declarant" class="col-form-label  requiredField"> Déclarant <span class="asteriskField">*</span>
        </label>
        <input type="text" name="declarant" value="{{object.declarant}}" maxlength="255" class="textinput textInput form-control" required id="id_declarant" />
    </div>

    <div class="col-5">

        <label for="id_val_marchandise" class="col-form-label  requiredField"> Valeur marchandise <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="val_marchandise" value="{{object.val_marchandise}}"  class="numberinput form-control" required id="id_val_marchandise" />
          <div class="input-group-prepend">
            <div class="input-group-text">DA</div>
          </div>
        </div>


        <label for="id_taux_suspension" class="col-form-label  requiredField"> Taux de suspension <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="taux_suspension" value="{{object.taux_suspension}}"  class="numberinput form-control" required id="id_taux_suspension" />
          <div class="input-group-prepend">
            <div class="input-group-text">%</div>
          </div>
        </div>

        <label for="id_montant_dit" class="col-form-label  requiredField"> Montant D/T <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="montant_dit" value="{{object.montant_dit}}"  class="numberinput form-control" required id="id_montant_dit" />
          <div class="input-group-prepend">
            <div class="input-group-text">DA</div>
          </div>
        </div>
    </div>
  </div>



  <br>
  <input type="submit" hidden>
</form>
