{% extends 'base.html' %}

{% block title %}Modification de la {{object}}{% endblock title %}
{% block container %}

{% load crispy_forms_tags %}

    <input hidden id='settings'
      object_date_caution = {{object.date_caution|date:"m/d/Y"}}
      object_date_decdet = {{object.date_decdet|date:"m/d/Y"}}>

      <h2>Modification de la {{object}}</h2>
      <br>

    <div class="row">
      <div class="col-7 offset-2">
        <form method="post">
          {% csrf_token %}
          {# {% include 'decdet_form.html' with submit_value='Modifier'  object=object %} #}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>



{% endblock container %}
