{% extends 'base.html' %}
{% load static %}
{% block title %}Liste des prorogations de la {{decdet}}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/decdet/filter_list.css' %}" >
<link rel="stylesheet" href="{% static 'styles/article/appurement.css' %}" >
  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

  </style>
{% endblock css %}

{% block container %}

<input hidden id="settings"
          decdet_api_list_url="{{decdet_api_list_url}}"
          PAGE_SIZE = "{{PAGE_SIZE}}"
            >

    <div class="row">
      <div class="col-11 offset-0">
          <h2>Liste des prorogations de l' {{decdet}}</h2>
          <br> <br>
          Déclaration en détail racine (AT) N°: <b>{{decdet.num_decdet}}</b>  <a href="{{decdet.getDetailUrl}}"><i class="fas fa-angle-double-right"></i></a>
          <br>
          <br>
          {% include "prorogation_filter.html" %}
          <br>
          <span id="decdet-list-html-info"></span>

          <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead class="thead-dark">
              <th scope="col">Code</th>
              <th scope="col">N°</th>
              <th scope="col">N° Déclaration mère</th>
              <th scope="col">Durée ecoulée</th>
              <th scope="col">Durée accordée</th>
              <th scope="col">Durée du contrat</th>
              <th scope="col">Statut</th>
              <th scope="col"></th>
            </thead>
              {% if object_list|length > 0 %}
              <tbody id="decDet-List-Html-Container">
                <!-- Will Be filled with Ajax call -->
              </tbody>
              {% else %}
                Aucune prorogation n'a été effectuée pour cette déclaration en détail
              {% endif %}
        </table>
        <br>
        <button id="navigation-fetch-data-btn-previous" type="button" class="btn btn-outline-dark"> Précédent </button>
        <button id="navigation-fetch-data-btn-next" type="button" class="btn btn-outline-dark"> Suivant </button>
      </div>
      <br>
    </div>

    <button id="article-csv-btn" data-toggle="tooltip" data-placement="top"
          title="Télecharger en CSV" style="float:right;" type="button"
          onclick="location.href='{% static 'CSV/Prorogations.csv' %}'"
           class="btn btn-outline-info">
          <i class="fas fa-file-csv fa-4x"></i> </button>


    <br>
    <br>
    <br>
    <br>

{% endblock container %}


{% block script %}
  <script src="{% static 'scripts/prorogation/prorogation_list.js' %}"></script>

  <script src="{% static 'scripts/decdet/decdet_filter.js' %}" charset="utf-8"></script>

  <script type="text/javascript">
    $(document).ready(function(event){
      init();
      decdetFilterInit();
      // $("#export").click(function(){
    	//   $("table").tableToCSV();
    	// });
    });
  </script>
{% endblock script %}
