

<form id="prorogation-create-form" method="post">
  {% csrf_token %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% if prorogation_depuis_prorogaiton %}
        <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
        <input readonly type="text" name="decdet" value="{{object.decdet.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />

        <label for="id_decdet" class="col-form-label  requiredField"> N° Prorogation mère <span class="asteriskField">*</span></label>
        <input readonly type="text" name="prorogation_mere" value="{{object.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />

        {% else %}
          <label for="id_decdet" class="col-form-label  requiredField"> N° Admission temporaire <span class="asteriskField">*</span></label>
          <input readonly type="text" name="decdet" value="{{object.num_decdet}}" maxlength="4" class="textinput textInput form-control" required id="id_decdet" />
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-0">

<br>
        <div class='hr'>
            <span class='hr-title'>Déclaration</span>
        </div>

        <label for="id_code" class="col-form-label  requiredField"> Code <span class="asteriskField">*</span></label>
        <input type="text" name="code" value="" maxlength="4" class="textinput textInput form-control" required id="id_code" />

        <label for="id_num_decdet" class="col-form-label  requiredField"> N° de la déclaration <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_decdet" value="" maxlength="255" class="textinput textInput form-control" required id="id_num_decdet" />


        <label for="id_importateur" class="col-form-label  requiredField"> Importateur <span class="asteriskField">*</span>
        </label>
        <input type="text" name="importateur" value="{{object.importateur}}" maxlength="255" class="textinput textInput form-control" required id="id_importateur" />


        <label for="id_declarant" class="col-form-label  requiredField"> Déclarant <span class="asteriskField">*</span>
        </label>
        <input type="text" name="declarant" value="{{object.declarant}}" maxlength="255" class="textinput textInput form-control" required id="id_declarant" />


        <label for="id_val_marchandise" class="col-form-label  requiredField"> Valeur marchandise <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="val_marchandise" value=""  class="numberinput form-control" required id="id_val_marchandise" />
          <div class="input-group-prepend">
            <div class="input-group-text">DA</div>
          </div>
        </div>


        <label for="id_taux_suspension" class="col-form-label  requiredField"> Taux de suspension <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="taux_suspension" value=""  class="numberinput form-control" required id="id_taux_suspension" />
          <div class="input-group-prepend">
            <div class="input-group-text">%</div>
          </div>
        </div>

        <label for="id_montant_dit" class="col-form-label  requiredField"> Montant D/T <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="montant_dit" value=""  class="numberinput form-control" required id="id_montant_dit" />
          <div class="input-group-prepend">
            <div class="input-group-text">DA</div>
          </div>
        </div>

        <br>
        <div class='hr'>
            <span class='hr-title'>Caution</span>
        </div>

        <label for="id_numero_caution" class="col-form-label  requiredField"> Numéro caution <span class="asteriskField">*</span>
        </label>
        <input type="text" min="0" name="numero_caution" value="{{object.numero_caution}}"  class="textinput form-control" required id="id_numero_caution" />

        <label for="id_date_caution" class="col-form-label  requiredField"> Date de caution <span class="asteriskField">*</span>
        </label>
        <input type="date" name="date_caution" value="{{object.date_caution|date:'Y-m-d'}}"  class="dateinput form-control" required id="id_date_caution" />
        <!--<input type="hidden" name="initial-date_caution"   id="initial-id_date_caution" />-->

      </div>
      <div class="col-6">


<br>
        <div class='hr'>
            <span class='hr-title'>Contrat</span>
        </div>

        <label for="id_num_contrat" class="col-form-label  requiredField"> N° du contrat <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_contrat" value="{{object.num_contrat}}" maxlength="255" class="textinput textInput form-control" required id="id_num_contrat" />


        <label for="id_objet_contrat" class="col-form-label  requiredField"> Objet du contrat <span class="asteriskField">*</span>
        </label>
        <input type="text" name="objet_contrat" value="{{object.objet_contrat}}" maxlength="255" class="textinput textInput form-control" required id="id_objet_contrat" />

        <label for="id_lieu_execution" class="col-form-label  requiredField"> Lieu d'exécution <span class="asteriskField">*</span>
        </label>
        <input type="text" name="lieu_execution" value="{{object.lieu_execution}}" maxlength="255" class="textinput textInput form-control" required id="id_lieu_execution" />

        <label for="id_duree_contrat" class="col-form-label  requiredField"> Durée du contrat <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="duree_contrat" value="{{object.duree_contrat}}"  class="numberinput form-control" required id="id_duree_contrat" />
          <div class="input-group-prepend">
            <div class="input-group-text">mois</div>
          </div>
        </div>

<br>
        <div class='hr'>
            <span class='hr-title'>Autorisation de prorogation</span>
        </div>

        <label for="id_num_autors_pr" class="col-form-label  requiredField"> N° de l'autorisation de prorogation <span class="asteriskField">*</span>
        </label>
        <input type="text" name="num_autors_pr" value="" maxlength="255" class="textinput textInput form-control" required id="id_num_autors_pr" />



        <label for="id_date_autors_pr" class="col-form-label  requiredField"> Date de l'autorisation de prorogation <span class="asteriskField">*</span>
        </label>
        <input type="date" name="date_autors_pr" value=""  class="dateinput form-control" required id="id_date_autors_pr" />

        <label for="id_duree_decdet" class="col-form-label  requiredField"> Durée accordée <span class="asteriskField">*</span>
        </label>
        <div class="input-group">
          <input type="number" min="0" name="duree_decdet" value=""  class="numberinput form-control" required id="id_duree_decdet" />
          <div class="input-group-prepend">
            <div class="input-group-text">mois</div>
          </div>
        </div>



      </div>
    </div>
  </div>
    <br>
    <input hidden type="submit">
</form>
