{% load mathfilters %}



<div class="modal fade" id="prorogation-create-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Prorogation depuis : {{object}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% include "prorogation_form.html" with object=object prorogation_depuis_prorogaiton=prorogation_depuis_prorogaiton %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <label>La durée maximale à accorder est de </label>
            <strong>{{duree_max}} mois</strong> <br>
            <label> pour ne pas dépasser le contrat</label>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button id="prorogation-create-form-submit-btn"  type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>
