{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href={% static "img/favicon.ico" %}>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/hover/css/hover-min.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/base/base.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/base/footer.css' %}" >

    <script src="{% static 'lib/jquery/jquery.js' %}"></script>
    

<style media="screen">
  body{
    background-image: url("{% static 'img/1.jpg' %}");
  }
</style>


    <meta charset="utf-8">
    {% block css %}
    {% endblock css %}
    <title>{% block title %}{% endblock title %} </title>
  </head>
  <body>
    <div class="container-fluid">
      {% include 'navbar.html' %}
      <br>
      <div class="row">
        <div id="base-menu" class="col-2">

          {% include 'base-menu.html' %}
        </div>
        <div class="col-10">
          <div class="container container-block">
            <br>
            {% block container %}
            {% endblock container %}
            <br><br><br>
            <br><br><br>
          </div>
        </div>
      </div>
    </div>

    <a href="#" style="display:none" class="stuck back-to-top hvr-float"><i class="back-to-top-arrow  fa fa-chevron-up fa-3x"></i></a>


    <section id="contact_us">
      <br><br>
      {% include 'footer.html' %}
    </section><!-- #contact -->


    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/base/base.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        baseListener();
      });
      function goBack() {
       window.history.back();
      }
      function reload() {
       location.reload();
      }

    </script>
    {% block script %}

    {% endblock script %}
  </body>
</html>
