

<div class="navbar-collapse home-menu" >
  <div class="nav flex-sm-column flex-row">
      <a href="{% url 'home' %}" class="nav-item nav-link " >Accueil</a>
      <a href="{% url 'decdet:list' %}" class="nav-item nav-link">Liste des admissions temporaires </a>
      <a href="{% url 'decdet:create' %}" class="nav-item nav-link">Créer une nouvelle admission temporaire</a>
      {# <a href="{% url 'transfert:list' %}" class="nav-item nav-link mon_site">Liste des transferts</a> #}
      <!-- <a href="#" class="nav-item nav-link" >Link</a> -->
  </div>
</div>
