
     <!-- <div id="google-map" data-latitude="36.7683668" data-longitude="3.012260"></div> -->
     <footer class="container-fluid container-contact-us">
<br>
       <div class="">
           <div class="row">
                <!-- <div class="col-5 offset-1">
                 <div class="row">
                   <div class="col-6">
                     <h2 class="footer-about-title">À propos</h2>
                   </div>
                   <div class="col-6">
                     <h2 class="footer-about-title">Contact</h2>
                   </div>
                 </div>
               </div>

               <div class="col-5">
                 <div class="row">
                   <div class="col-6">
                     <h2 class="footer-about-title">LinkedIn</h2>
                   </div>
                   <div class="col-6">
                     <h2 class="footer-about-title">+ d'information</h2>
                   </div>
                 </div>
               </div>  -->
               <h2 class="footer-about-title">À propos</h2>

           </div>
           <hr>
           <div class="row">
               <div class="col-5 offset-1">
                 <div class="row info">
                   <div class="col-6">
                     <i class="fa fa-map-marker"></i>
                     <span>Alger, Ben Aknoun</span><br>
                     <i class="fa fa-phone"></i>
                     <span>+213 541 543 357</span><br>
                   </div>
                   <div class="col-6">
                     <i class="fa fa-envelope"></i> Emails:
                     <div>
                       <span>fc_harouit@esi.com</span> <br> <span>fr_drissi@esi.com</span><br>
                     </div>
                   </div>
                 </div>
               </div>

               <div class="col-5">
                 <div class="info row">
                   <div class="col-6">
                     <i class="fa fa-code"></i>
                     <a class="link-about-us" href="https://bitbucket.org/ssacTeam/ssac">Code source</a><br>
                     <i class="fa fa-building"></i>
                     <a class="link-about-us" href="#">le site de l'entreprise</a><br>
                   </div>
                   <div class="col-6">
                     <div class="social-links">
                       <a href="https://www.linkedin.com/in/chemseddine-harouit/" class="linkedin"><i class="fab fa-linkedin"></i> Harouit Chems Eddine</a> <br>
                     </div>
                   </div>
                 </div>
               </div>
           </div>

         </div>
     </footer>
