{% extends 'base.html' %}
{% block title %}Accueil{% endblock title %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'styles/article/appurement.css' %}" >
{% endblock %}

{% block container %}

  <h1 class="text-center">Accueil SSAC Dashboard</h1>
  <br><br>
  Date de la session : {{request.user.last_login|date:'d F Y H:i:s'}}
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-5">
      <canvas id="at_year" style="max-width: 500px;"></canvas>
    </div>
    <div class="col-5 offset-2">
      <canvas id="at_apure" style="max-width: 500px;"></canvas>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-7">
      <label class="appurement-appure">Nombre Total d'admissions temporaires apurées : {{appure}}</label> <br>
      <label class="appurement-pending">Nombre Total d'admissions temporaires en cours : {{pending}}</label> <br>
      <label class="appurement-retard">Nombre Total d'admissions temporaires en retard : {{retard}}</label> <br>
      <label class="appurement-pending-retard">Nombre Total d'admissions temporaires avec au moins un article en retard : {{pending_retard}}</label>
    </div>
    <div class="5">
      <b>Nombre Total d'admissions temporaires : {{total}}</b><br>
      <b>Nombre Total de transferts   : {{total_transferts}}</b><br>
      <b>Nombre Total de prorogations : {{total_prorogation}}</b>
    </div>
  </div>
  <hr>
{% endblock container %}

{% block script %}
  <script src="{% static 'lib/mdb/js/mdb.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'scripts/dashboard/charts.js' %}" charset="utf-8"></script>
  <script type="text/javascript">
      var at_Year_Axis_X = ["2018", "2019", "2020", "2021"];
      var at_Year_Axis_Y = [{{at_year.at_2018}}, {{at_year.at_2019}}, {{at_year.at_2020}}, {{at_year.at_2021}}];
      var at_Apure_Axis_X = ["2018", "2019", "2020", "2021"];
      var at_Apure_Axis_Y1= at_Year_Axis_Y
      var at_Apure_Axis_Y2= [{{at_apure.at_2018}}, {{at_apure.at_2019}}, {{at_apure.at_2020}}, {{at_apure.at_2021}}];
      $(document).ready(function () {
        //demo();
        at_year_chart();
        at_apure_chart();
      })
  </script>
{% endblock %}
