{% extends "base.html" %}

{% block title %} {{block.super}} Connexion{% endblock title %}

{% block css %}
<style media="screen">
  .login-div{
    background-color : rgba(250,250,250,0.8);
    border-radius : 20px;
  }
</style>
{% endblock css %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(event){
    $('#base-menu').hide();
  });
</script>

{% endblock script%}
{% block container %}
<script type="text/javascript">
  $('#base-menu').hide();
</script>
<div class="row">
  <div class="offset-3 text-center container login-div">
    <br>

    <h1> Se connecter </h1>
  {% if form.errors %}
  <p style="color:red">Erreur. votre nom d'utilisateur ou mot de passe est incorrect</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <script type="text/javascript">
        window.history.back();
      </script>
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Connectez-vous pour continuer.</p>
      {% endif %}
  {% endif %}

  <form id="login-form" method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="form-group">
    {{ form.username.label_tag }}<br>
    {{ form.username }}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }}<br>
    {{ form.password }}
  </div>

    <button type="submit" class="btn btn-outline-success">Connexion </button>
  </form>
  <!--
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">mot de passe perdu ? (pas encore traité)</a></p> -->
  </div>

</div>
{% endblock container %}
