{% load static %}
    <nav class="  navbar navbar-expand-lg home-navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">SSAC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active" style="margin-left:auto;">
                  <a href='' class="location-navigation" onclick="reload()" style="color: #f4f4f4;"><i class=" fas fa-undo-alt fa-2x location-navigation-btn"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a href="" class="nav-link " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aide ?
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% static 'manuel/Manuel_SSAC.pdf' %}">Manuel d'Utilisation</a>
                  </div>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="" class="nav-link " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Compte ({{user}})
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Administrer</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a>
                    </div>
                </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
                </li>
              {% endif %}
            </ul>
        </div>
    </nav>
