{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href= "{% static 'img/favicon.ico' %}" >
    <link rel="stylesheet" href="{%static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'styles/base/home.css' %}">
    <title>SSAC</title>
  </head>
  <body style="background-image: url({% static 'img/1.jpg' %});">
    <div class="container">
      <div class="row" style="height=100%">
        <div class="col-4 offset-1" style="margin:auto;">
          <h2>SSAC</h2>
          <span>
            <i>
              Système de Suivi des Acquits à Caution
            </i>
          </span>
          <br>
          <br>

          <img id="logo-accueil-ssacn" src="{% static 'img/icon.png' %}" alt="SSAC" height="200">
          <br><br>
          
          <button type="button" name="button" class="btn btn-outline-info"
          onclick="location.href='{% url 'home' %}'"
          >Continuer vers l'application ... </button>
        </div>
        <div class="col-5 offset-2">
          <br>
          <img src="{% static 'img/logo-douane.jpg' %}" alt="Douane Logo" height="500">
        </div>
      </div>
    </div>
    <script src="{% static 'lib/jquery/jquery.js' %}" charset="utf-8"></script>
  </body>
</html>
